.container{
    width: 430px;
    padding:10px ;
    background-color: aqua;
    border-radius: 15px;
}
.all{
    padding: 10px;
}
.description{
    display: inline-block;
    padding-left: 85px;
    margin-top: -15px;
}
.all-span{
    margin-left: 15px;
}